<footer>

    <!-- logo -->
    <div class="container">
        <a id="a-title" href="{{ site.url }}">
            <img src="images/logo_web.png">
        </a>
    </div>

    <!-- link social -->
    <div class="social-container">
        <a id="a-title" href="{{ site.github_username }}" target="blank">
            <i class="fab fa-github fa-lg social-icon"></i>
        </a>
        <a id="a-title" href="{{ site.linkedin_username }}" target="blank">
            <i class="fab fa-linkedin fa-lg social-icon"></i>
        </a>
        <a id="a-title" href="{{ site.instagram_username }}" target="blank">
            <i class="fab fa-instagram fa-lg social-icon"></i>
        </a>
        <a id="a-title" href="{{ site.twitter_username }}" target="blank">
            <i class="fab fa-twitter fa-lg social-icon"></i>
        </a>
        <a id="a-title" href="{{ site.medium_username }}" target="blank">
            <i class="fab fa-medium fa-lg social-icon"></i>
        </a>
        <a id="a-title" href="{{ site.facebook_username }}" target="blank">
            <i class="fab fa-facebook-f fa-lg social-icon"></i>
        </a>
        <a id="a-title" href="{{ site.reddit_username }}" target="blank">
            <i class="fab fa-reddit fa-lg social-icon" style="color: #ccbe06"></i>
        </a>

    </div>
</footer>