<footer>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <h3>Opening Hours</h3>
                <p class="text-div">
                    Mon - Fri: 9am - 5pm<br>
                    Saturday: appointment only<br>
                    Sunday: closed<br>
                </p>
            </div>
            <div class="col-12 col-md-4">
                <h3>Address</h3>
                <p class="text-div">
                    311 Verona <br>
                    Lungadige Galtarossa, 21<br>
                    37133 Verona, Italy<br>
                </p>
            </div>
            <div class="col-12 col-md-4">
                <h3>Get in Touch</h3>
                <p class="text-div">
                    Mon - Fri: 9am - 5pm<br>
                    Saturday: appointment only<br>
                    Sunday: closed<br>
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row col-12 text-center">
            <h4 class="w-100">
                © V-Research S.r.l.s 2020<br>
                P.IVA. 04704380239
            </h4>
        </div>
    </div>

</footer>