h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
    color: #d28445;
}

.no-dec {
    text-decoration: none;
}

.logo {
    max-width: 100%;
}

.social-container {
    width: 90%;
    max-width: 1000px;
    margin: 1em auto;
}

.first-social-icon {
    margin-left: 1em;
}

.social-icon {
    color: #ffff;
}

.nav-div {
    margin-left: 1em;
}

.nav-i {
    color: #d28445;
    margin-left: 1em;
}

.footer-div {
    float: left;
    width: 33%;
}

.text-div {
    font-size: 14px;
}

.profile-row {
    margin: 2em 0;
}

.profile-img {
    width: 40%;
}

.short-bio {
    width: 60%;
}