/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
    .team-people {
        margin: 2em 0;
        text-align: center;
    }
}


h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
    color: #d28445;
}

.no-dec {
    text-decoration: none;
}

.logo {
    max-width: 100%;
}

.social-container {
    width: 90%;
    max-width: 1000px;
    margin: 1em auto;
}

.first-social-icon {
    margin-left: 1em;
}

.social-icon {
    color: #ffff;
}

.nav-div {
    margin-left: 1em;
}

.nav-i {
    color: #d28445;
    margin-left: 1em;
}

.text-div {
    font-size: 14px;
}

.team-people {
    margin: 2em 0;
}

.text-margin {
    margin: 1em 0;
}